{
    "openapi": "3.0.0",
    "info": {
        "title": "Facility Management System API",
        "description": "API documentation for the Facility Management System",
        "contact": {
            "email": "admin@example.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Local Environment"
        }
    ],
    "paths": {
        "/api/asset-categories": {
            "get": {
                "tags": [
                    "Asset Categories"
                ],
                "summary": "Get all asset categories",
                "operationId": "b70cba457bf4b5697df23a0d6c9ef39f",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of asset categories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Asset categories retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AssetCategory"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Asset Categories"
                ],
                "summary": "Create a new asset category",
                "operationId": "65222d684e4e25ec587b83a31f6f883d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "status"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Electronics"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Electronic equipment and devices"
                                    },
                                    "parent_id": {
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive"
                                        ],
                                        "example": "active"
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Asset category created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Asset category created successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AssetCategory"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/asset-categories/{id}": {
            "get": {
                "tags": [
                    "Asset Categories"
                ],
                "summary": "Get an asset category by ID",
                "operationId": "22bb10dc1eb12ae1730197fd57fdaf37",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Asset category ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset category details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Asset category retrieved successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AssetCategory"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Asset Categories"
                ],
                "summary": "Update an asset category",
                "operationId": "68e656c86917ef54e7d72bf26a4680d6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Asset category ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Updated Electronics"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Updated description"
                                    },
                                    "parent_id": {
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive"
                                        ],
                                        "example": "active"
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Asset category updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Asset category updated successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AssetCategory"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Asset Categories"
                ],
                "summary": "Delete an asset category",
                "operationId": "c4d5f219b33e660bfc4e566f195b5eeb",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Asset category ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset category deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Asset category deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/asset-categories/hierarchy": {
            "get": {
                "tags": [
                    "Asset Categories"
                ],
                "summary": "Get asset category hierarchy",
                "operationId": "b0562024da2412f3eadb0485f696d40d",
                "responses": {
                    "200": {
                        "description": "Asset category hierarchy",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Asset category hierarchy retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AssetCategory"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/asset-categories/active": {
            "get": {
                "tags": [
                    "Asset Categories"
                ],
                "summary": "Get active asset categories",
                "operationId": "b3bd8fab9509fb662c09ab4a83674db5",
                "responses": {
                    "200": {
                        "description": "List of active asset categories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Active asset categories retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AssetCategory"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/asset-categories/{id}/move": {
            "patch": {
                "tags": [
                    "Asset Categories"
                ],
                "summary": "Move an asset category to a new parent",
                "operationId": "378ff770f7d11490b8b6fcfb0bb011dc",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Asset category ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "parent_id": {
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Asset category moved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Asset category moved successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/asset-categories/{id}/children": {
            "get": {
                "tags": [
                    "Asset Categories"
                ],
                "summary": "Get child categories of a parent category",
                "operationId": "c657ecd79355c81417b06b5747edbbe5",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Parent category ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of child categories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Child categories retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AssetCategory"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/asset-categories/{id}/status": {
            "patch": {
                "tags": [
                    "Asset Categories"
                ],
                "summary": "Update asset category status",
                "operationId": "9f1cb180b720e3db95d8ccba94c3c80e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Asset category ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive"
                                        ],
                                        "example": "active"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Asset category status updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Asset category status updated successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/asset-categories/search": {
            "get": {
                "tags": [
                    "Asset Categories"
                ],
                "summary": "Search asset categories",
                "operationId": "2f3fb30a80dacd2b658b3c3ec5f16c16",
                "parameters": [
                    {
                        "name": "term",
                        "in": "query",
                        "description": "Search term",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Search results",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Asset categories found successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AssetCategory"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/assets": {
            "get": {
                "tags": [
                    "Assets"
                ],
                "summary": "Get all assets",
                "description": "Retrieve a list of all assets",
                "operationId": "getAssets",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Asset"
                                            }
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Assets retrieved successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Assets"
                ],
                "summary": "Create a new asset",
                "description": "Create a new asset with the provided data",
                "operationId": "createAsset",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAssetRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Asset created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Asset"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Asset created successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/assets/{id}": {
            "get": {
                "tags": [
                    "Assets"
                ],
                "summary": "Get asset by ID",
                "description": "Retrieve an asset by its ID",
                "operationId": "getAssetById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the asset",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Asset"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Asset retrieved successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Assets"
                ],
                "summary": "Update an asset",
                "description": "Update an existing asset with the provided data",
                "operationId": "updateAsset",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the asset to update",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateAssetRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Asset updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Asset"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Asset updated successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Assets"
                ],
                "summary": "Delete an asset",
                "description": "Delete an asset by its ID",
                "operationId": "deleteAsset",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the asset to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Asset deleted successfully"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/assets/code/{code}": {
            "get": {
                "tags": [
                    "Assets"
                ],
                "summary": "Find asset by code",
                "description": "Retrieve an asset by its unique code",
                "operationId": "findAssetByCode",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Code of the asset",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Asset"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Asset found successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/assets/active": {
            "get": {
                "tags": [
                    "Assets"
                ],
                "summary": "Get active assets",
                "description": "Retrieve a list of all active assets",
                "operationId": "getActiveAssets",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Asset"
                                            }
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Active assets retrieved successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/assets/space/{spaceId}": {
            "get": {
                "tags": [
                    "Assets"
                ],
                "summary": "Get assets by space",
                "description": "Retrieve all assets in a specific space",
                "operationId": "getAssetsBySpace",
                "parameters": [
                    {
                        "name": "spaceId",
                        "in": "path",
                        "description": "ID of the space",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Asset"
                                            }
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Assets retrieved successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/assets/{id}/status": {
            "patch": {
                "tags": [
                    "Assets"
                ],
                "summary": "Update asset status",
                "description": "Update the status of an existing asset",
                "operationId": "updateAssetStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the asset",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "status": {
                                        "description": "New status of the asset",
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive",
                                            "maintenance",
                                            "retired",
                                            "storage"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Asset status updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Asset"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Asset status updated successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/maintenance-logs": {
            "get": {
                "tags": [
                    "Maintenance Logs"
                ],
                "summary": "Get all maintenance logs",
                "operationId": "d51fc8f22fead0512e308ebaeb8ded0d",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of maintenance logs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Maintenance logs retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MaintenanceLog"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Maintenance Logs"
                ],
                "summary": "Create a new maintenance log",
                "operationId": "dbcff43fd1ba8577192b4bfa888a9bdc",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MaintenanceLog"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Maintenance log created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Maintenance log created successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/MaintenanceLog"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maintenance-logs/{id}": {
            "get": {
                "tags": [
                    "Maintenance Logs"
                ],
                "summary": "Get a maintenance log by ID",
                "operationId": "14ac8dd1c3f46efe8cfff2bb20ccc716",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Maintenance log ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Maintenance log details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Maintenance log retrieved successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/MaintenanceLog"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Maintenance Logs"
                ],
                "summary": "Update a maintenance log",
                "operationId": "d4d8dc0d2e360b64aeb32d3d366ef8c8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Maintenance log ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MaintenanceLog"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Maintenance log updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Maintenance log updated successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/MaintenanceLog"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Maintenance Logs"
                ],
                "summary": "Delete a maintenance log",
                "operationId": "178ca29855a0b6de3c263350940638ee",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Maintenance log ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Maintenance log deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Maintenance log deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maintenance-logs/asset/{assetId}": {
            "get": {
                "tags": [
                    "Maintenance Logs"
                ],
                "summary": "Get maintenance logs for an asset",
                "operationId": "0b83453910abed2eaf0eaa8197baadc4",
                "parameters": [
                    {
                        "name": "assetId",
                        "in": "path",
                        "description": "Asset ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of maintenance logs for the asset",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Asset maintenance logs retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MaintenanceLog"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maintenance-logs/schedule/{scheduleId}": {
            "get": {
                "tags": [
                    "Maintenance Logs"
                ],
                "summary": "Get maintenance logs for a schedule",
                "operationId": "8682c5ec722fd2243a35621bbe0cdf8d",
                "parameters": [
                    {
                        "name": "scheduleId",
                        "in": "path",
                        "description": "Schedule ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of maintenance logs for the schedule",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Schedule maintenance logs retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MaintenanceLog"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maintenance-logs/date-range": {
            "get": {
                "tags": [
                    "Maintenance Logs"
                ],
                "summary": "Get maintenance logs within a date range",
                "operationId": "d01393823f630098aaf05c7f9f28a99c",
                "parameters": [
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Start date",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "End date",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of maintenance logs within the date range",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Maintenance logs retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MaintenanceLog"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maintenance-logs/type/{type}": {
            "get": {
                "tags": [
                    "Maintenance Logs"
                ],
                "summary": "Get maintenance logs by type",
                "operationId": "940f56b7a602f8fb6382d988f3f100d6",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "Maintenance type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "preventive",
                                "corrective",
                                "emergency"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of maintenance logs of the specified type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Maintenance logs retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MaintenanceLog"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maintenance-logs/status/{status}": {
            "get": {
                "tags": [
                    "Maintenance Logs"
                ],
                "summary": "Get maintenance logs by status",
                "operationId": "10dc339f8f703bc3b2ff63108562c2fd",
                "parameters": [
                    {
                        "name": "status",
                        "in": "path",
                        "description": "Maintenance status",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "in_progress",
                                "completed",
                                "cancelled"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of maintenance logs with the specified status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Maintenance logs retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MaintenanceLog"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maintenance-logs/technician/{technicianId}": {
            "get": {
                "tags": [
                    "Maintenance Logs"
                ],
                "summary": "Get maintenance logs by technician",
                "operationId": "94136634ef14bf96cacc68c9130a9dae",
                "parameters": [
                    {
                        "name": "technicianId",
                        "in": "path",
                        "description": "Technician ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of maintenance logs performed by the technician",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Maintenance logs retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MaintenanceLog"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maintenance-logs/{id}/attachments": {
            "post": {
                "tags": [
                    "Maintenance Logs"
                ],
                "summary": "Add an attachment to a maintenance log",
                "operationId": "bfdca63a57c1676d818a5070d385821c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Maintenance log ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "file_name",
                                    "file_path",
                                    "file_type",
                                    "file_size"
                                ],
                                "properties": {
                                    "file_name": {
                                        "type": "string"
                                    },
                                    "file_path": {
                                        "type": "string"
                                    },
                                    "file_type": {
                                        "type": "string"
                                    },
                                    "file_size": {
                                        "type": "integer"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Attachment added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Attachment added successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maintenance-logs/{id}/attachments/{attachmentId}": {
            "delete": {
                "tags": [
                    "Maintenance Logs"
                ],
                "summary": "Remove an attachment from a maintenance log",
                "operationId": "3f45da61c05fbd743c8891973ab73f36",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Maintenance log ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "attachmentId",
                        "in": "path",
                        "description": "Attachment ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attachment removed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Attachment removed successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maintenance-logs/{id}/status": {
            "patch": {
                "tags": [
                    "Maintenance Logs"
                ],
                "summary": "Update maintenance log status",
                "operationId": "9937fb4e54e7f35a7b0590f4eee25f82",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Maintenance log ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "status"
                                ],
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "pending",
                                            "in_progress",
                                            "completed",
                                            "cancelled"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Maintenance log status updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Maintenance log status updated successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maintenance-schedules": {
            "get": {
                "tags": [
                    "Maintenance Schedules"
                ],
                "summary": "Get all maintenance schedules",
                "operationId": "d8e433bbdec7fc5f71c47d9cffdc915a",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of maintenance schedules",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Maintenance schedules retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MaintenanceSchedule"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Maintenance Schedules"
                ],
                "summary": "Create a new maintenance schedule",
                "operationId": "31c61c45d98689f8b234c16faa66e2f9",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MaintenanceSchedule"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Maintenance schedule created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Maintenance schedule created successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/MaintenanceSchedule"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maintenance-schedules/{id}": {
            "get": {
                "tags": [
                    "Maintenance Schedules"
                ],
                "summary": "Get a maintenance schedule by ID",
                "operationId": "eb7b5d60c6307a0aca70d566fc7027bb",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Maintenance schedule ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Maintenance schedule details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Maintenance schedule retrieved successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/MaintenanceSchedule"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Maintenance Schedules"
                ],
                "summary": "Update a maintenance schedule",
                "operationId": "7ab35c256ed2212e5d66fe8203e94ef2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Maintenance schedule ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MaintenanceSchedule"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Maintenance schedule updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Maintenance schedule updated successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/MaintenanceSchedule"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Maintenance Schedules"
                ],
                "summary": "Delete a maintenance schedule",
                "operationId": "68c67c6f63fcea1986b45cc3805fe5ec",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Maintenance schedule ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Maintenance schedule deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Maintenance schedule deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maintenance-schedules/asset/{assetId}": {
            "get": {
                "tags": [
                    "Maintenance Schedules"
                ],
                "summary": "Get maintenance schedules for an asset",
                "operationId": "6b725906cd21389fc9d1633477e8eb9d",
                "parameters": [
                    {
                        "name": "assetId",
                        "in": "path",
                        "description": "Asset ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of maintenance schedules for the asset",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Asset maintenance schedules retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MaintenanceSchedule"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maintenance-schedules/upcoming": {
            "get": {
                "tags": [
                    "Maintenance Schedules"
                ],
                "summary": "Get upcoming maintenance schedules",
                "operationId": "2e0f0c38ed245d8172b10a3dc3b5d8b8",
                "parameters": [
                    {
                        "name": "days",
                        "in": "query",
                        "description": "Number of days to look ahead",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 7
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of upcoming maintenance schedules",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Upcoming maintenance schedules retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MaintenanceSchedule"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maintenance-schedules/overdue": {
            "get": {
                "tags": [
                    "Maintenance Schedules"
                ],
                "summary": "Get overdue maintenance schedules",
                "operationId": "3448a27e41267a27421054b34fadf608",
                "responses": {
                    "200": {
                        "description": "List of overdue maintenance schedules",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Overdue maintenance schedules retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MaintenanceSchedule"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maintenance-schedules/{id}/complete": {
            "post": {
                "tags": [
                    "Maintenance Schedules"
                ],
                "summary": "Complete a maintenance schedule",
                "operationId": "ceb12c22634b52026cfbb7b911efeae9",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Maintenance schedule ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "completion_date",
                                    "completed_by"
                                ],
                                "properties": {
                                    "completion_date": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "completion_notes": {
                                        "type": "string"
                                    },
                                    "completed_by": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Maintenance schedule completed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Maintenance schedule completed successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maintenance-schedules/{id}/reschedule": {
            "patch": {
                "tags": [
                    "Maintenance Schedules"
                ],
                "summary": "Reschedule a maintenance task",
                "operationId": "96311b70d976b11b72a3a9c63b922431",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Maintenance schedule ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "scheduled_date"
                                ],
                                "properties": {
                                    "scheduled_date": {
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Maintenance task rescheduled successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
[...]
